<ion-view title="Posto">
  <ion-content class="has-header">
    


<!-- 
<div class="list card">

        <div class="item item-avatar">
          <img src="img/Shell_Logo.png">


          <h2>Posto SHELL Ipanema<h2>
          <p>R$ 2,65 &ndash; Gasolina<span class="badge badge-assertive">12 KM</span></p>
        </div>

        <div class="item item-image">
          <img src="img/map_placeholder.jpg">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-android-location"></i>
          Rua Marechal Teodoro, N 450
        </a>

      </div>
 -->

<div class="list card">

  <div class="item item-avatar">
    <img src="img/Shell_Logo.png">
    <h2>Posto SHELL Ipanema</h2>
    <p>R$ 2,65</p>
  </div>

  <div class="item item-image">
    <img class="full-image" src="img/map_placeholder.jpg">
     </div>
 
<a class="item item-icon-left" href="#"><small>
    
          Rua Marechal Teodoro, N 450</small>
  </a>
  
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-ios7-time"></i>
      47m
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios7-information-outline"></i>
      12 KM
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-model-s"></i>
      Gasolina
    </a>
  </div>

</div>



  </ion-content>
</ion-view>
